{{> header}}

<main id="start-page">

    <section id="background-image" title="Gaming survey background image"></section>

    <section>
        <img src="" alt="Thumbs up">
        <article>
            <p>Thank you for joining this survey I hope you enjoyed it and till next time! </p>
        </article>
    </section>

    <a href="/start"> Get me back </a>

</main>