{{> header}}

<main>

    <figure id="background-image" title="Gaming survey background image"></figure>

    <article id="end-screen">
        <img src="images/thumbsup.svg" alt="Thumbs up">
        <p>Thank you for joining this survey I hope you enjoyed it and till next time! </p>
        <a href="/start" id="big-button" tabindex="0"> Get me back </a>
    </article>



</main>