{{> header}}

<main id="get-code">

    <figure id="background-image" title="Gaming survey background image"></figure>

    <form action="/personal" method="POST">
        <fieldset>
            <legend id="head-legend">
                <h1>Let's start the game survey!</h1>
            </legend>

            {{#if uniqueCode}}
            <input name="uniqueCode" type="hidden" id="unique-code" value="{{uniqueCode}}">

            <p>Your unique code will be:</p>

            <input type="text" name="get-unique-code" id="get-unique-code" value="{{ uniqueCode }}" autofocus readonly>
            {{/if}}

            <article id="alert">
                <img src="/images/warning.svg" alt="warning message: save the code by cmd + c" width="0">
                <p>Don't forget to copy your unique code, this will be the only way back!</p>
            </article>

            <input type="submit" id="big-button" value="Start now!">
        </fieldset>
    </form>
</main>


<script defer src="/js/storage.js"></script>