{{> header}}

<main id="get-code">

    <section id="background-image" title="Gaming survey background image"></section>

    <form action="/personal" method="POST">
        <fieldset>
            <legend>Let's start the game survey!</legend>

            {{#if uniqueCode}}
            <input name="uniqueCode" type="hidden" value="{{uniqueCode}}">

            <p>Your unique code will be:</p>

            <input type="text" name="get-unique-code" id="get-unique-code" value="{{ uniqueCode }}" autofocus readonly>
            {{/if}}

            <section id="alert">
                <img src="/images/warning.svg" alt="Warning: save this code">
                <p>If you close down the survey you can use this unique code to get back
                    where you were, so don't lose it!</p>
            </section>

            <input type="submit" value="Start now!">
        </fieldset>
    </form>
</main>