{{> header}}

<main id="get-code">
    <form action="/personal" method="POST">
        <fieldset>
            <legend>Let's start the game survey!</legend>

            <p>Your unique code will be:</p>

            <input type="text" name="get-unique-code" id="get-unique-code" autofocus readonly>

            <section id="alert">
                <p><strong>Important!</strong> If you close down the survey you can use this unique code to get back
                    where you were, so don't lose it</p>
            </section>

            <input type="submit" value="Next">
        </fieldset>
    </form>
</main>