{{> header}}

<main id="start-page">

    <figure id="background-image" title="Gaming survey background image"></figure>

    <form action="/invalid_code" method="POST">
        <fieldset>
            <legend>
                <strong>The entered code</strong> is wrong! please try again
            </legend>
            <p>Look good if you have writen down the code correctly. Other ways you will have to start a new session!
            </p>

            <article id="form-section">
                <label>Enter your unique code to go on with the survey: </label>
                <input type="text" name="uniqueCode" id="unique-code" placeholder="Unique code example"
                    autocomplete="off">

                <article id="buttons">
                    <input type="submit" name="again" value="Try again">

                    <input type="submit" name="getCode" value="New survey">
                </article>
            </article>
        </fieldset>
    </form>

</main>