{{> header}}

<main>
    <section>
        <label for="progress"></label>
        <progress id="progress" value="50" max="100"></progress>
    </section>

    <form action="/rate_game" method="POST" id="open-questions">
        <fieldset>
            <legend>Your opinion is important</legend>

            <input type="hidden" name="uniqueCode" value="{{key}}">

            <label for="favorite-game-of-all-time">What's your favorite game of all time? and why?</label>
            <textarea name="favorite-game-of-all-time" id="favorite-game-of-all-time" cols="50" rows="5"
                placeholder="League of legends..."></textarea>

            <label for="what-would-you-do">if video games didn't exist anymore, what would you do?</label>
            <textarea name="what-would-you-do" id="what-would-you-do" cols="50" rows="5"
                placeholder="Probably cry..."></textarea>

            <label for="into-video-games">What or who got you into video games in the first place?</label>
            <textarea name="into-video-games" id="into-video-games" cols="50" rows="5"
                placeholder="My first computer..."></textarea>

            <a href="/gamePersonal_back">Previous</a>

            <input type="submit" value="Next">

        </fieldset>
    </form>
</main>