{{> header}}

<main>
    <section>
        <label for="progress"></label>
        <progress id="progress" value="75" max="100"></progress>
    </section>

    <form action="/end" method="POST" id="rate-game">
        <fieldset>
            <legend>Rate your game</legend>

            {{#if uniqueCode}}
            <input name="uniqueCode" type="hidden" value="{{uniqueCode}}">
            {{/if}}

            <label for="">Choose a game to judge:</label>
            <input list="game-to-judge" name="game-to-judge" id="game-to-judge" value="" autocomplete="off" required>

            <datalist id="game-genres">
                <option value="Animal Crossing: New Horizons"></option>
                <option value="Assassin’s Creed Valhalla"></option>
                <option value="Bleeding Edge"></option>
                <option value="Fortnite"></option>
                <option value="Cyberpunk 2077"></option>
                <option value="Dying Light 2"></option>
                <option value="Final Fantasy 7 Remake"></option>
                <option value="Ghost of Tsushima"></option>
                <option value="League of Legends"></option>
            </datalist>

            <label for="opinion-about-the-game">What is your opinion about this game:</label>
            <textarea name="opinion-about-the-game" id="opinion-about-the-game" cols="50" rows="5"
                placeholder="What do you think ?.." required></textarea>

            <fieldset>
                <legend>Give the game a number (1 - 5):</legend>

                <input type="radio" name="rate" id="rate-1" value="1" checked required>
                <label for="recommend-yes">1</label>

                <input type="radio" name="rate" id="rate-2" value="2" required>
                <label for="recommend-no">2</label>

                <input type="radio" name="rate" id="rate-3" value="3" required>
                <label for="recommend-yes">3</label>

                <input type="radio" name="rate" id="rate-4" value="4" required>
                <label for="recommend-no">4</label>

                <input type="radio" name="rate" id="rate-5" value="5" required>
                <label for="recommend-no">5</label>
            </fieldset>

            <label for="give-a-number">Give the game a number (1 - 5):</label>
            <input type="range" name="give-a-number" id="give-a-number" list="rate-options" required>

            <label for="time-spend">How much time have you spend playing this game:</label>
            <input type="text" name="time-spend" id="time-spend" value="" inputmode="numeric" autocomplete="off"
                pattern="[0-9]+" placeholder="100" required>

            <fieldset>
                <legend>Would you recommend this game:</legend>

                <input type="radio" name="recommend" id="recommend-yes" value="yes" required>
                <label for="recommend-yes">Yes</label>

                <input type="radio" name="recommend" id="recommend-no" value="no" required>
                <label for="recommend-no">No</label>
            </fieldset>

            <a href="/openQuestions_back">Previous</a>

            <input type="submit" value="Next">

        </fieldset>
    </form>
</main>