{{> header}}

<main id="start-page">

    <figure id="background-image" title="Gaming survey background image"></figure>

    <form action="/indentification" method="POST" id="start">
        <fieldset>
            <legend>
                Your legend starts here!
            </legend>
            <p>First, enter your unique code to resume the survey</p>

            <article id="form-section">
                <label>Enter unique code here</label>
                <input type="text" name="uniqueCode" id="unique-code" autocomplete="off">

                <input type="submit" id="big-button" value="Start survey">
            </article>
        </fieldset>
    </form>

</main>