{{> header}}

<main id="start-page">

    <figure id="background-image" title="Gaming survey background image"></figure>

    <form action="/indentification" method="POST" id="start">
        <fieldset>
            <legend id="head-legend">
                <h1>Your legend starts here!</h1>
            </legend>
            <p>First, click on the button to start your survey</p>

            <article id="form-section">
                <input type="submit" id="big-button" value="Start survey">

                <label id="uniqueCodeLabel">Or enter unique code here</label>
                <article id="resume-section">
                    <input type="text" name="uniqueCode" id="unique-code" autocomplete="off">

                    <input type="submit" id="small-button" value="Resume survey">
                </article>

            </article>
        </fieldset>
    </form>

</main>


<script src="/js/uniqueCodeList.js"></script>