/* this is going to be my CSS file */

@font-face {
  font-family: "SpiegelCd";
  src: url("../fonts/SpiegelCd.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "BeaufortforLOL-Bold";
  src: url("//db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.eot");
  src: url("//db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.svg#BeaufortforLOL-Bold")
      format("svg");
}

/* body {
  font-family: "SpiegelCd", Times, serif;
  font-size: 1.5em;
} */
