/* this is going to be my CSS file */

@font-face {
  font-family: "BeaufortforLOL";
  src: url("../fonts/Beaufort-Regular.ttf"),
    url("../fonts/Beaufort-Regular.woff"),
    url("../fonts/Beaufort-Regular.woff2");
}

@font-face {
  font-family: "BeaufortforLOL-bold";
  src: url("../fonts/Beaufort-Bold.ttf"), url("../fonts/Beaufort-Bold.woff"),
    url("../fonts/Beaufort-Bold.woff2");
}

@font-face {
  font-family: "BeaufortLOL-Light";
  src: url("../fonts/Beaufort-light.otf");
}

html {
  font-family: "BeaufortforLOL", Times, serif;
  color: #d5b26e;
  font-size: 1em;
}

body {
  background: #111;
  margin: 0;
}

main {
  width: 100%;
}

/* header */

header {
  padding: 4em;
  text-align: center;
}

header > img {
  width: 1.8em;
  display: block;
  position: absolute;
  left: 47%;
  bottom: 85%;
}

/* resume section */

#get-unique-code {
  width: 50%;
}

#resume-section {
  display: flex;
  justify-content: flex-start;
}

#unique-code {
  width: 100%;
  margin: 1em 0em;
}

#uniqueCodeLabel {
  margin-bottom: -1em;
}

#small-button {
  font-family: "BeaufortLOL-Light", Times, serif;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: solid 3px transparent;
  align-self: center;
}

/* unique Survey List */

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin: auto;
  padding: 0;
  list-style-type: none;
}

#survey-l-items {
  font-family: "BeaufortforLOL", Times, serif;
  background-color: transparent;
  color: #c4b998;
  border: 1px solid #937341;
  text-align: left;
  padding: 0.5em 0.6em;
  margin: 0.5em;
  cursor: pointer;
  transition: 1s;
}

#survey-l-items:hover {
  border: 1px solid #c4b998;
  color: #937341;
  transition: 1s;
}

#survey-l-items > p {
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
}

#available-surveys {
  font-family: "BeaufortforLOL", Times, serif;
  color: #937341;
  text-align: left;
}

/* progression bar */

#progression {
  display: flex;
  margin: 1em;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}

#progression > label {
  align-self: center;
}

#progression > progress {
  -webkit-appearance: none;
}

progress::-webkit-progress-bar {
  background-color: #fff;
  border-radius: 1em;
}
progress::-webkit-progress-value {
  background-color: #d5b26e;
  border-radius: 1em;
}

/* content */

form {
  text-align: center;
  margin: auto;
}

/* @supports (text-align: center) {
  form {
    text-align: center;
    margin: auto;
  }
} */

#form-section {
  display: flex;
  flex-direction: column;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  text-align: -webkit-center;
}

@supports (align-items: center) {
  fieldset {
    flex-grow: 1;
    margin: 30px;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

legend {
  text-align: center;
}

#head-legend {
  margin: 0px auto;
}

legend > h1 {
  font-family: "BeaufortforLOL-bold", Times, serif;
  font-size: 5.5vw;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  padding-top: 0.5em;
  margin: 0px auto;
}

#start > fieldset > p {
  font-family: "BeaufortLOL-Light", Times, serif;
  font-size: 3.5vw;
  margin: 0;
  padding-bottom: 1em;
}

/* input fields / labels */

#radio-button {
  display: block;
  margin: 0;
  text-align: left;
}

label,
#radio-button > legend {
  font-family: "BeaufortLOL-Light", Times, serif;
  font-weight: lighter;
  text-transform: none;
  color: #937341;
  text-align: start;
  margin-top: 1em;
  padding: 0.5em 0;
  font-size: 1em;
  cursor: pointer;
}

input[type="text"] {
  font-family: "BeaufortLOL-Light", Times, serif;
  font-size: 1.5em;
  color: #c4b998;
  border: none;
  width: 100%;
  border-bottom: 1px solid #937341;
  background: transparent;
}

#label {
  width: 100%;
}

/* radio buttons */

input[type="radio"] {
  position: absolute;
  opacity: 0;
}

input[type="radio"] + label {
  display: inline-block;
  border: 1px solid #937341;
  padding: 0.5em 0.6em;
  margin: 0.5em;
}

input:checked + label {
  color: #fff;
  border: 1px solid #fff;
}

input[type="radio"]:focus + label {
  color: #fff;
  border: 1px solid #fff;
}

/* button */

#buttons {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

a {
  text-decoration: none;
}

input[type="submit"],
a {
  padding: 1em;
  margin: 2em 1em;
  cursor: pointer;
}

input[type="submit"],
a {
  font-family: "BeaufortLOL-Light", Times, serif;
  font-size: 0.8rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #937341;
  background: #000;
  border: solid 3px transparent;
  align-self: center;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(180deg, #ecc572 0, #815500);
  background-origin: border-box;
  box-shadow: 2px 1000px 1px #000 inset;
  transition: 1s;
}

input[type="submit"]:hover {
  color: #fff;
  transition: 1s;
}

#big-button {
  font-size: 1.2rem;
  margin: 0.5em 0em 2em;
  padding: 1.5em;
}

/* Dropdown input */

input[name="favoriteGameGenre"] {
  font-family: "BeaufortLOL-Light", Times, serif;
  font-size: 0.8rem;
  border: 1px solid #937341;
  color: #c4b998;
  width: 90%;
  background-color: transparent;
  padding: 1em;
}

/* textarea input */

textarea {
  font-family: "BeaufortLOL-Light", Times, serif;
  font-size: 0.8rem;
  border: 1px solid #937341;
  color: #c4b998;
  background-color: transparent;
  padding: 1em;
  margin-bottom: 1em;
  width: 90%;
}

/* background image */

#background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
}

#background-image:before {
  content: "";
  background: url("../images/background-image.jpeg");
  background-size: cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.15;
  filter: blur(5px);
}

#background-image:after {
  content: "";
  background: url("../images/background-image.jpeg");
  background-size: cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}

/* end screen */

#end-screen {
  text-align: center;
  width: 80%;
  margin: auto;
}

#end-screen > h1 {
  margin-bottom: 1.5em;
}

#end-screen > img {
  width: 3em;
  height: 3em;
  border: 2px solid #937341;
  border-radius: 1em;
  padding: 1em;
}

#end-screen > p {
  font-family: "BeaufortLOL-Light", Times, serif;
  font-size: 2rem;
  padding-bottom: 1em;
}

/* alert */

#alert {
  display: flex;
  width: 75%;
  margin: 2em;
  border: 2px solid #be1e37;
  padding: 0.1em 1em;
}

#alert > img {
  padding-right: 1em;
  width: 2em;
  height: auto;
}

/* Validation classes */

.wrong input,
.wrong textarea {
  background-image: url("../images/warning.svg");
}

.wrong:after {
  content: attr(error-message);
  display: block;
  margin-bottom: -1em;
  color: #be1e37;
}

.correct input,
.correct textarea {
  background-image: url("../images/check-mark.svg");
}

.correct input,
.wrong input {
  background-size: 0.8em 0.8em;
  background-repeat: no-repeat;
  background-position: 100% 50%;
}
.correct textarea,
.wrong textarea {
  background-size: 1.5em 1.5em;
  background-repeat: no-repeat;
  background-position: 95% 85%;
}

/* media queries */

@media screen and (min-device-width: 1200px) and (max-device-width: 1820px) and (-webkit-min-device-pixel-ratio: 1) {
  header > img {
    left: 49%;
  }

  #form-section {
    width: 40%;
  }
}
